{{ define "main" }}
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css">
  <link rel="stylesheet" type="text/css" href="/css/search.css">

  <div class="empty"></div>

  <div class="searchbox-container" id="searchbox">
    <!-- SearchBox widget will appear here -->
  </div>

  <div id="stats" class="text-right text-muted"></div>

  <div class="empty"></div>

  <div id="hits"></div>
  <div id="pagination" class="text-center"></div>

  <script src="/js/search.js"></script>
{{ end }}
